@media (max-width: 767px) {
    .center {
        padding-left: calc(50% - 343px/2);
        padding-right: calc(50% - 343px/2);
    }

    .start__list {
        height: 735px;
        background-position: 31%;
    }

    .title {
        padding-top: 239px;
        text-align: center;
        font-size: 32px;

    }

    .text {
        width: unset;
        text-align: center;
        font-size: 14px;
        line-height: 22px;
        /* 157.14*/
    }

    .span {
        font-size: 14px;
        line-height: 22px;
    }

    .button {
        margin-top: 32px;
        align-self: center;
    }

    .game__box {
        grid-template-columns: repeat(auto-fit, 343px);
        justify-content: center;

    }

    .game__item {
        width: 343px;
    }
}

@media (max-width: 343px) {
    .game__item {
        width: 100vw;
    }
    .game__img {
        width: 100vw;
    }    
}