@media (max-width: 965px) {
    .element {
        justify-content: center;
        flex-direction: column-reverse;
        padding-bottom: 233px;

    }


    .element__item {
        align-items: center;
    }
}

@media (max-width: 767px) {
    .center {
        padding-left: calc(50% - 343px/2);
        padding-right: calc(50% - 343px/2);
    }

    .start__list {
        height: 735px;
        background-position: 31%;
        gap: 33px;
    }

    .title {
        padding-top: 239px;
        margin-bottom: unset;
        text-align: center;
        font-size: 32px;

    }

    .text {
        width: unset;
        text-align: center;
        font-size: 14px;
        line-height: 22px;
        /* 157.14*/
    }

    .span {
        font-size: 14px;
        line-height: 22px;
    }

    .button {
        align-self: center;
    }

    .game__box {
        grid-template-columns: repeat(auto-fit, 343px);
        justify-content: center;

    }

    .game__item {
        width: 343px;
    }

    .element {
        padding-bottom: 85px;
    }

    .element__item {
        margin-top: unset;
        margin-bottom: unset;
        padding-top: 51px;
        padding-bottom: 64px;
        align-items: center;
    }

    .words {
        padding-bottom: 90px;
    }

    .header {
        text-align: center;
        color: #FFF;
        font-size: 32px;
    }

    .picture {
        width: 344px;
        height: 236px;
    }
}



@media (max-width: 343px) {
    .game__box {
        justify-items: center;

    }

    .game__item {
        width: 100vw;
        height: unset;
    }

    .game__img {
        width: 100vw;
    }

    .picture {
        width: 100vw;
    }

    .button {
        width: 100vw;
    }
}