* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.start__list {
  height: 1024px;
  background-image: url(img/Rectangle1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 44px;
}

.title {
  padding-top: 217px;
  margin-bottom: -12px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  flex-shrink: 0;
}

.text {
  width: 481px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  /* 177.778% */
}

.span {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.button {
  width: 234.063px;
  height: 48.603px;
  flex-shrink: 0;
  border-radius: 30px;
  border: none;
  background: #9C0332;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: background 0.5s;
}
.button:hover {
  background: #EB443F;
}

.game__box {
  flex-shrink: 0;
  background: #000915;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, 378px);
  justify-content: center;
  padding-top: 128px;
  padding-bottom: 128px;
}

.game__item {
  width: 378px;
  position: relative;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), lightgray 50%/cover no-repeat;
  height: auto;
}

.game__img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  transition: border 0.3s;
}
.game__img:hover {
  border: 3px solid #44D2FF;
}

.game__text {
  position: absolute;
  left: 32px;
  bottom: 32px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  /* 133.333% */
}

.element {
  /*height: 1024px;*/
  background: #000915;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.element__item {
  margin-top: 249px;
  margin-bottom: 237px;
  padding-top: 33px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 32px;
}

.header {
  color: #FFF;
  /*font-family: Montserrat;*/
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 965px) {
  .element {
    justify-content: center;
    flex-direction: column-reverse;
    padding-bottom: 233px;
  }
  .element__item {
    align-items: center;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 171.5px);
    padding-right: calc(50% - 171.5px);
  }
  .start__list {
    height: 735px;
    background-position: 31%;
    gap: 33px;
  }
  .title {
    padding-top: 239px;
    margin-bottom: unset;
    text-align: center;
    font-size: 32px;
  }
  .text {
    width: unset;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    /* 157.14*/
  }
  .span {
    font-size: 14px;
    line-height: 22px;
  }
  .button {
    align-self: center;
  }
  .game__box {
    grid-template-columns: repeat(auto-fit, 343px);
    justify-content: center;
  }
  .game__item {
    width: 343px;
  }
  .element {
    padding-bottom: 85px;
  }
  .element__item {
    margin-top: unset;
    margin-bottom: unset;
    padding-top: 51px;
    padding-bottom: 64px;
    align-items: center;
  }
  .words {
    padding-bottom: 90px;
  }
  .header {
    text-align: center;
    color: #FFF;
    font-size: 32px;
  }
  .picture {
    width: 344px;
    height: 236px;
  }
}
@media (max-width: 343px) {
  .game__box {
    justify-items: center;
  }
  .game__item {
    width: 100vw;
    height: unset;
  }
  .game__img {
    width: 100vw;
  }
  .picture {
    width: 100vw;
  }
  .button {
    width: 100vw;
  }
}/*# sourceMappingURL=site.css.map */